*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
       justify-content: center;
      align-items: center;
}
.game{
 height: 60vmin;
 width: 60vmin;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
  gap:1rem;


}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 8vmin;
   
}
#resetbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
}

#newbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;  
}

#msg{
    color:yellow;
    font-size: 8vmin;
}
.msgcontainer{
    height: 30vmin;
}